
#exitPop {

}

#twoStep {
    #twoStepHeading {
        font-family: arial;
        font-weight: bold;
        text-align: center;
    }
    input {
        width:70%;
        margin:0 auto;
        display:block;
        text-align: center;
        margin-bottom:$global-padding;
    }
    .button {
        margin-top:$global-padding;
        width:70%;
        margin:0 auto;
        display:block;
    }
}


//generic close button
.close-button {
    font-size: 34px;
    position: absolute;
    top: 0px;
    right: 5px;
}