body {
    background: url(https://d13p2xj50zkyqm.cloudfront.net/scripts/assets/main-bg.jpg);
    font-family: arial, sans-serif;
    font-size: 62.5%;
    line-height: normal;
    position: relative;
    text-align: center
}

h1,
h2,
h3 {
    font-weight: 700;
    font-family: georgia, serif;
    text-align: center
}

h1 {
    font-size: 4rem
}

h1,
h2 {
    margin: .5em .2em
}

h2 {
    font-size: 2.3rem
}

h3 {
    font-size: 2rem;
    margin: 1em .667em
}

p {
    font-size: 1rem;
    line-height: 1.35em;
    margin: .9375em 1.25em
}

strong {
    font-weight: 700
}

em,
i {
    font-style: italic
}

u {
    text-decoration: underline
}

blockquote {
    margin: .9375em 3.75em
}

ol,
ul {
    font-size: 1rem;
    margin: 1.25em 6.25em 1.25em 5em
}

li {
    line-height: 1.35em;
    margin-top: 1.25em
}

#unhide,
.hiddenNetSect,
.hidethis,
.unhide {
    display: none
}

div.sidebar {
    border: .2em solid #ccc;
    box-shadow: .2em .2em 1em 0 #ccc;
    float: right;
    margin: 1em .5em 1em 1em;
    width: 30em
}

.red {
    color: #c00
}

.highlight-yellow {
    background-color: #fafa64
}

div.contentwrapper {
    border: .1em solid #ccc;
    box-shadow: 0 0 1.3em .3em #ccc;
    background-color: #fff;
    margin: 2em auto 0;
    overflow: hidden;
    max-width: 900px;
    position: relative;
    text-align: left
}

img.image-center,
img.image_center {
    display: block;
    text-align: center;
    margin: 0 auto
}

img.image-left,
img.image_left {
    display: block;
    float: left;
    margin: 1em
}

img.image-right,
img.image_right {
    display: block;
    float: right;
    margin: 1em
}

.imagecap {
    border: .2em solid #ccc;
    float: right;
    padding: 0;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 1em;
    width: 40%
}

.imagecap-horizontal,
.imagecap p {
    font-size: .875rem;
    text-align: center;
    font-style: italic
}

.imagecap-horizontal {
    margin: 0 auto
}

.imagecap-horizontal p {
    margin-top: -15px;
    font-family: serif;
    margin-bottom: 50px
}

ul.checkmark,
ul.ulcheckmark {
    list-style-image: url(https://d13p2xj50zkyqm.cloudfront.net/scripts/assets/checkmark.png)
}

ul.circles li {
    list-style: circle
}

ul.disc li {
    list-style: disc
}

ol.numbers li {
    list-style: decimal
}

div.testimonial {
    border: .1em solid #ccc;
    border-radius: .5em;
    box-shadow: .3em .3em 1em 0 #ccc;
    background-color: #ffffe8;
    font-family: monospace;
    font-size: 1.2em;
    margin: 2em 6em;
    padding: .1em 0
}

div.testimonial p {
    font-size: 1rem;
    margin: 1em
}

div.testimonial span {
    display: block;
    font-size: .8125em;
    font-weight: 700;
    line-height: 1.538;
    margin: 0 0 0 1em
}

.pull-quote {
    background: url(https://d13p2xj50zkyqm.cloudfront.net/scripts/assets/paper-quote-2.jpg) 0 0 no-repeat;
    background-size: cover;
    padding: 3.5em;
    margin: 2.5em 1.25em;
    box-shadow: 0 2px 2px #444
}

.pull-quote p {
    font-family: Courier, Georgia, serif;
    font-weight: 400;
    margin: 0 1.25em;
    font-size: 1.5rem
}

.testimonial-quote {
    background: #ffecad;
    padding: 2em;
    margin: 2em 1.5em;
    box-shadow: 0 2px 2px 0 #cdb082;
    font-style: italic
}

.email-quote {
    background: #f9f4d6;
    padding: 1em 2em 1em 75px;
    box-shadow: 0 2px 2px 0 #333;
    margin: 3em 1.5em
}

.email-quote:before {
    content: '';
    background: url(https://d13p2xj50zkyqm.cloudfront.net/scripts/assets/mail.svg) 0 0 no-repeat;
    display: block;
    width: 60px;
    height: 70px;
    margin: 0 0 -75px -60px
}

.email-subhead {
    text-align: left;
    margin-top: .8em;
    margin-bottom: .5em;
    font-size: 1.7rem;
    font-weight: 700;
    font-family: georgia, serif
}

.quote-container {
    max-width: 800px;
    margin: 50px auto
}

.quote-card {
    background: #f9f4d6;
    color: #000;
    padding: 20px;
    padding-left: 50px;
    position: relative;
    overflow: hidden;
    min-height: 120px
}

.quote-container p {
    font-size: 1.9rem;
    line-height: 1.5;
    margin: 0;
    max-width: 80%
}

cite {
    font-size: 1rem;
    margin-top: 10px;
    display: block;
    font-weight: 200;
    opacity: .8
}

.quote-card:before {
    content: "â€œ";
    top: 10px;
    left: 10px;
    font-size: cal(1rem * 5.5rem);
    font-size: cal(16px * 5.5rem)
}

.quote-card:after,
.quote-card:before {
    font-family: Georgia, serif;
    position: absolute;
    color: #a0a0a0;
    font-weight: 400
}

.quote-card:after {
    content: "â€";
    bottom: -60px;
    left: 80%;
    line-height: 6.25rem;
    right: -32px;
    font-size: 18rem
}

#transcriptwrapper {
    border-top: 1px solid #ccc;
    overflow: hidden;
    position: relative
}

#transcriptcontent {
    display: none;
    position: relative
}

#sources-wrap {
    background: #fff;
    border: 1px solid #ccc;
    height: 100%;
    margin-left: 100%;
    overflow: auto;
    text-align: left;
    position: fixed;
    width: 500px;
    top: 0
}

#clssrcwnd {
    border: 1px solid red;
    color: red;
    cursor: pointer;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px;
    padding: 10px 15px;
    position: relative
}

#clssrcwnd:hover {
    border: 1px solid #000;
    color: #000
}

div.popmessage {
    float: left;
    top: -20px
}

div.popsmoke {
    background: #555;
    display: none;
    height: 100%;
    float: left;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2
}

div.popcontrol {
    display: none;
    left: 50%;
    margin: 0 0 0 -25em;
    position: fixed;
    top: 10em;
    width: 55em;
    z-index: 3
}

button.lead_gen_button,
button.read_transcript,
button.watch_video,
div.read_transcript,
div.watch_video {
    border-radius: 2.5em;
    box-shadow: .2em .2em .5em 0 #bbb;
    background-clip: border-box;
    cursor: pointer;
    font-size: 2em;
    font-weight: 700;
    float: left;
    height: 3em;
    line-height: normal;
    margin-left: 1em;
    overflow: hidden;
    text-align: left
}

button.lead_gen_button,
button.watch_video,
div.watch_video {
    border: 1px solid #82aa3c
}

button.read_transcript,
div.read_transcript {
    border: 1px solid #ffaf64
}

button.lead_gen_button,
button.watch_video_background,
div.watch_video_background {
    background: #bee678;
    background: linear-gradient(180deg, #bee678 0, #82aa3c);
    padding: 3px 0;
    z-index: 1
}

button.lead_gen_button:hover,
button.watch_video_background:hover,
div.watch_video_background:hover {
    background: #bee678
}

button.read_transcript_background,
div.read_transcript_background {
    background: #ffaf64;
    background: linear-gradient(180deg, #ffaf64 0, #ff6400);
    padding: 3px 0;
    z-index: 1
}

button.read_transcript_shortcut,
div.read_transcript_shortcut {
    display: none;
    float: none;
    margin: 2em auto;
    width: 12.5em
}

button.read_transcript_background:hover,
div.read_transcript_background:hover {
    background: #ffaf64
}

div.read_transcript_bookmark {
    position: fixed;
    top: 3em;
    width: 13.5em;
    z-index: 2
}

div.icon_rt,
div.icon_wv {
    background-repeat: no-repeat;
    background-image: url(https://d13p2xj50zkyqm.cloudfront.net/scripts/assets/exitpop_sprite.png);
    float: left;
    height: 55px;
    width: 59px
}

div.icon_wv {
    background-position: 0 -1px
}

div.icon_rt {
    background-position: -58px -2px
}

div.ep_btn_text {
    float: left;
    margin: .75em 0 0 .25em;
    padding-right: .8em
}

div.ep_btn_wv {
    margin-left: .8em;
    padding-right: 2em
}

div.read_transcript a {
    color: #000;
    text-decoration: none
}

div.exitButton:hover {
    background-position: -117px -28px;
    background-repeat: no-repeat;
    background-image: url(https://d13p2xj50zkyqm.cloudfront.net/scripts/assets/exitpop_sprite.png)
}

div#popmessage {
    font-family: Open Sans, sans-serif;
    font-size: 62.5%;
    line-height: normal;
    position: relative;
    text-align: center
}

div#popmessage p {
    font-size: 1.6em;
    line-height: 1.35em;
    margin: .9375em 1.25em
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

div.popsmoke {
    background: #000;
    background: rgba(0, 0, 0, .5);
    display: none;
    height: 100%;
    float: left;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2
}

div.popcontrol {
    display: none;
    left: 50%;
    margin: 0 0 0 -25em;
    position: fixed;
    top: 10em;
    width: 600px;
    z-index: 3
}

div.exitButton {
    background-position: -117px 0;
    background-repeat: no-repeat;
    background-image: url(https://d13p2xj50zkyqm.cloudfront.net/scripts/assets/exitpop_sprite.png);
    cursor: pointer;
    float: right;
    height: 28px;
    left: 10px;
    position: relative;
    top: -10px;
    width: 30px;
    z-index: 2
}

div.epcontent {
    box-shadow: 0 0 2em 0 #d00;
    border-radius: 10px;
    background-color: #fff;
    padding: 16px 0;
    text-align: left
}

#findisclaimer {
    margin: 1em auto;
    max-width: 750px
}

#disclaimer p {
    font-size: 14.4px;
    font-size: .9rem;
    text-align: center
}

div#popmessage p {
    font-size: 3em;
    line-height: 1.35em;
    margin: .9375em 1.25em
}

p.exp {
    text-align: left;
    margin: 15px
}

button.lead_gen_button,
button.read_transcript,
div.read_transcript,
div.watch_video {
    font-size: 3.2em;
    float: left;
    height: 3.15em;
    margin-left: 7px
}

button.lead_gen_button,
button.read_transcript,
div.read_transcript,
div.read_transcript_2,
div.watch_video {
    border-radius: 2.5em;
    box-shadow: .2em .2em .5em 0 #bbb;
    background-clip: border-box;
    cursor: pointer;
    font-weight: 700;
    line-height: normal;
    overflow: hidden;
    text-align: left
}

div.read_transcript_2 {
    font-size: 2em;
    height: 3em
}

div.read_transcript_shortcut_2 {
    float: none;
    margin: 2em auto;
    width: 12.5em
}

button.read_transcript_2,
div.read_transcript_2 {
    border: 1px solid #ffaf64
}

div.read_transcript_background_2 {
    background: #ffaf64;
    background: linear-gradient(180deg, #ffaf64 0, #ff6400);
    padding: 3px 0;
    z-index: 1
}

div.read_transcript_2 {
    border-radius: 2.5em;
    box-shadow: .2em .2em .5em 0 #bbb;
    background-clip: border-box;
    cursor: pointer;
    font-size: 2em;
    font-weight: 700;
    float: left;
    height: 3em;
    line-height: normal;
    margin-left: 1em;
    overflow: hidden;
    text-align: left;
    border: 1px solid #ffaf64
}

div.read_transcript_background_2 {
    background: #ffaf64;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYWY2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjY0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: linear-gradient(180deg, #ffaf64 0, #ff6400);
    padding: 3px 0;
    z-index: 1
}

div.read_transcript_shortcut_2 {
    display: none;
    float: none;
    margin: 2em auto;
    width: 12.5em
}

div.is_shortcut_2 {
    display: block!important
}

div.read_transcript_background_2:hover {
    background: #ffaf64
}

div.read_transcript_bookmark_2 {
    position: fixed;
    top: 3em;
    width: 13.5em;
    z-index: 2
}

div.icon_rt_2,
div.icon_wv_2 {
    background-repeat: no-repeat;
    background-image: url(https://d13p2xj50zkyqm.cloudfront.net/scripts/assets/exitpop_sprite.png);
    float: left;
    height: 55px;
    width: 59px
}

div.icon_wv_2 {
    background-position: 0 -1px
}

div.icon_rt_2 {
    background-position: -58px -2px
}

div.ep_btn_text_2 {
    float: left;
    margin: .75em 0 0 .25em;
    padding-right: .8em
}

div.ep_btn_wv_2 {
    margin-left: .8em;
    padding-right: 2em
}

div.read_transcript_2 a {
    color: #000;
    text-decoration: none
}

div.bluebox {
    border: .25em solid #2580b5;
    padding: 2% 1% 2% 2%;
    margin: 2em auto;
    width: 90%
}

div.bluebox p {
    font-size: 1.125rem;
    line-height: 1.35em;
    margin: 0;
    padding: 0
}

div.bluebox h4 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 6%
}

div.bluebox img {
    display: block;
    float: right
}

.changes {
    transition: border-color 1s ease-in-out;
    border: 3px solid transparent;
    cursor: pointer;
    transition: .7s ease-in-out
}

.changes:hover {
    border-color: #888;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0 5px 4px 0 #999;
    -webkit-transform: scale(1.02)
}

.subnow {
    text-align: center;
    display: block;
    font-weight: 700;
    font-family: arial;
    margin: .8em 0 0;
    font-size: 40px;
    font-size: 2.5rem;
    color: #2580b5;
    text-decoration: underline;
    text-transform: uppercase
}

.subnow:hover {
    cursor: pointer
}

.finalreview {
    text-align: center;
    font-size: 19.2px;
    font-size: 1.2rem
}

.footer-copyright,
.footer_copyright {
    margin: 2em auto;
    text-align: left;
    max-width: 900px
}

.footI {
    float: left;
    margin: 0 .5em 0 2em
}

.footP {
    font-size: .875rem;
    line-height: 1.4em;
    margin-top: 1em;
    margin-bottom: 7em;
    color: #323232
}

.privacypolicy {
    color: #2580b5;
    text-decoration: underline
}

.privacypolicy:hover {
    cursor: pointer
}

.fda-footer {
    max-width: 900px;
    margin: 2em auto;
    text-align: left;
    padding: 1%;
    border: thin solid #000
}

.clickPop {
    font-size: 1.5rem;
    width: 60%;
    margin: 1em auto;
    padding: .5em 1.5em;
    background-color: orange;
    color: #333;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 0 #b37400;
    text-align: center;
    box-shadow: 0 1px 0 0 #fff6af;
    background: linear-gradient(180deg, #ffec64 5%, #ffab23);
    background-color: #ffec64;
    transition: .7s ease-in-out
}

.clickPop,
.clickPop:hover {
    cursor: pointer
}

.clickPop:hover {
    border-color: #888;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0 5px 4px 0 #999;
    -webkit-transform: scale(1.02)
}

.shadowarea {
    width: 100%;
    height: 100%;
    background: #000;
    background: rgba(0, 0, 0, .8);
    z-index: 4;
    position: fixed;
    top: 0;
    cursor: pointer;
    display: none
}

label {
    font-size: 2rem
}

input {
    text-align: left;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: medium solid #87cefa;
    border: medium solid rgba(135, 206, 250, .8)
}

input:focus {
    border: thin solid #edfa87;
    border: thin solid hsla(67, 92%, 75%, .8)
}

.signup {
    max-width: 750px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    margin: 5% auto;
    left: 0;
    right: 0;
    z-index: 5;
    padding: 10px 50px 50px;
    top: 10px;
    cursor: default
}

.blackbox {
    background-color: #000;
    padding: 10px;
    text-align: center;
    width: 55%;
    font-family: purista-web, verdana, arial, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #fff;
    font-size: 1em
}

.x {
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    color: #000;
    border-radius: 50%;
    border: thin solid #fff;
    padding: 5px;
    margin-right: -10px;
    margin-top: -10px;
    cursor: pointer
}

.x:hover {
    background: #000;
    color: #fff
}

a.clickPop_2 {
    font-size: 2em;
    text-decoration: none;
    width: 80%;
    display: block;
    margin: 1em auto;
    padding: .5em 1.5em;
    background-color: orange;
    color: #333;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 0 #b37400;
    text-align: center;
    box-shadow: 0 1px 0 0 #fff6af;
    background: linear-gradient(180deg, #ffec64 5%, #ffab23);
    background-color: #ffec64;
    transition: .7s ease-in-out
}

a.clickPop_2,
a.clickPop_2:hover {
    cursor: pointer
}

a.clickPop_2:hover {
    border-color: #888;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0 5px 4px 0 #999;
    -webkit-transform: scale(1.02)
}


//wordpress specific styles
img.alignright, .wp-caption.alignright {
    border:1px solid #e1e1e1;
    text-align:center;
    margin:0 auto;
    @media #{$medium-up} {
        float:right;
        margin:0 0 20px 20px;
        
    }

    img {
        width:100%; 
        border-bottom:1px solid #e1e1e1
    }
    .wp-caption-text {
        text-align:center;
        font-size: 12px;
    }
}

//wordpress specific styles
img.alignleft, .wp-caption.alignleft {
    border:1px solid #e1e1e1;
    text-align:center;
    margin:0 auto;
    @media #{$medium-up} {
        float:left;
        margin:0 20px 20px 0;
        
    }

    img {
        width:100%; 
        border-bottom:1px solid #e1e1e1
    }
    .wp-caption-text {
        text-align:center;
        font-size: 12px;
    }
}

img.aligncenter, .wp-caption.aligncenter {
    border:1px solid #e1e1e1;
    text-align:center;
    display: block;
    margin:0 auto;

    img {
        width:100%; 
        border-bottom:1px solid #e1e1e1
    }
    .wp-caption-text {
        text-align:center;
        font-size: 12px;
    }
}



@media screen and (max-width:695px) {
    div.contentwrapper {
        max-width: 100%;
        margin-top: 0;
        border: none
    }
    h1 {
        font-size: 2.6rem
    }
    h1,
    h2 {
        margin: .5em .2em
    }
    h2 {
        font-size: 1.8rem
    }
    h3 {
        font-size: 1.6rem;
        margin: 1em .667em
    }
    p {
        font-size: 1.125rem
    }
    blockquote,
    ol,
    ul {
        margin: 20px 16px;
        margin: 1.25rem 1rem
    }
    br.hidebr {
        display: none
    }
    .x {
        margin-right: 0;
        margin-top: 0;
        font-size: 2rem
    }
}

@media screen and (max-height:970px) {
    .shadowarea h3 {
        font-size: 1.6rem
    }
}

@media screen and (max-height:600px) {
    img.shadowarea {
        display: none
    }
}