div.footer_copyright {
	background:#000;
	color:$white;
	padding-top:$global-padding*2;
	padding-bottom:$global-padding*2;
	margin-top:$global-padding*2;
	p, a {
		font-size:rem-calc(12px);
		margin-bottom:0px;
	}
}

//vc settings
.wpb_row {
	padding-top:$global-padding;
	padding-bottom:$global-padding;
}