//colors
$white: #fff;

//transitions
$transition-time: all .2s ease-in-out;
$transition-time-long: all .5s ease-in-out;


//set generic font sizes
p, li, a {
	font-size:rem-calc(20px);
	@media #{$small-only} {
		font-size:rem-calc(16px);
	}
}

//retina iframe
#retina-iframe {
	display:none;
}

//reusables
.unhide {
	display:none !important;
}

.centered {
	display:block;
	margin-right:auto;
	margin-left:auto;
	margin-bottom:$global-padding*2;
	text-align:center;
}

//links
a {
	&.subnow {
		font-size: rem-calc(30px);
		text-decoration: underline;
		text-transform: uppercase;
		font-weight:bold;
		color:$primary-color;
		display: block;
		margin-bottom:$global-padding;
		cursor:pointer;
		text-align:center;
		@media #{$medium-up} {
			font-size: rem-calc(40px);
		}
	}
}

//buttons
.button {
	border-radius: 10px;
    margin-right:10px;
    box-shadow: 2px 3px 6px 0 rgba(0,0,0,0.5);
    border:none;
    font-weight: bold;
    color:#000;
    margin-bottom:0px;
    transition: $transition-time;

    @media #{$small-only} {
		width:100%;
		margin-bottom:$global-padding;
    }

    &:hover {
        box-shadow: 0px 0px 6px 0 rgba(0,0,0,0.5);
        transition: $transition-time;
        text-decoration: underline;
        color:#000;
    }

    &:focus {
        color:#000;
    }

    &.golden {
    	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2d326+0,f7ec4f+51,f9be27+100 */
		background: #f2d326; /* Old browsers */
		background: -moz-linear-gradient(top,  #f2d326 0%, #f7ec4f 51%, #f9be27 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #f2d326 0%,#f7ec4f 51%,#f9be27 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #f2d326 0%,#f7ec4f 51%,#f9be27 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2d326', endColorstr='#f9be27',GradientType=0 ); /* IE6-9 */
    }

    &.green {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8acc55+0,8ab66b+44,4f9b3f+100 */
        background: #8acc55; /* Old browsers */
        background: -moz-linear-gradient(top, #8acc55 0%, #8ab66b 44%, #4f9b3f 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #8acc55 0%,#8ab66b 44%,#4f9b3f 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #8acc55 0%,#8ab66b 44%,#4f9b3f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8acc55', endColorstr='#4f9b3f',GradientType=0 ); /* IE6-9 */
    }

    &.orange {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaac64+0,fc7623+100 */
        background: #eaac64; /* Old browsers */
        background: -moz-linear-gradient(top, #eaac64 0%, #fc7623 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #eaac64 0%,#fc7623 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #eaac64 0%,#fc7623 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaac64', endColorstr='#fc7623',GradientType=0 ); /* IE6-9 */
    }
    
    .button-icon {
        width:30px;
        padding:5px;
        margin-right:10px;
        margin-top:-3px;
        background:$white;
        border-radius:25%;

    }

}

//forms
input {
	&.large {
		font-size:rem-calc(24px);
	}
}

//images
img {
	&.famshot {
		transition: $transition-time-long;
		padding: 40px;
		display: block;
		cursor:pointer;
		text-align:center;
		border:none;
		box-shadow: none;
		margin-bottom:$global-padding;
		margin-right:auto;
		margin-left:auto;
		&:hover {
			transition: $transition-time-long;
			box-shadow: 0px 0px 6px 0 rgba(0,0,0,0.5);
			padding:20px;
			border:3px #e1e1e1 solid;

		}
	}
}


img.aligncenter, img.alignright, img.alignleft {
	display:block;
	text-align: center;
	margin:0 auto;
}

@media #{$medium-up} {
	img.alignleft {
		float:left;
		margin:0 $global-padding $global-padding 0;
	}

	img.alignright {
		float:right;
		margin-left:$global-padding;
		margin-bottom:$global-padding;
		margin:0 0 $global-padding $global-padding;
	}
}



//images with captions
.wp-caption {
	border:1px solid #e1e1e1;
	margin-bottom:$global-padding;
	@media #{$small-only} {
		width:100% !important;
	}
	@media #{$medium-up} {
		&.alignleft {
			float:left;
			margin-right:$global-padding;
		}
		&.alignright {
			float:right;
			margin-left:$global-padding;
		}
		img {
			width:100%;
		}
	}
	
	p.wp-caption-text {
		text-align:center;
		font-size:rem-calc(11px);
		padding:$global-padding;
		margin-bottom:0px;
	}
}

//testimonials
.testimonial {
	border: .1em solid #ccc;
    border-radius: .5em;
    box-shadow: .3em .3em 1em 0 #ccc;
    background-color: #ffffe8;
    font-family: monospace;
    font-size:rem-calc(24px);
    padding: $global-padding*2;

    @media #{$medium-up} {
   		margin: $global-padding*2;
	}
 
}

