
#email-admin-header {
	border: solid 1px #CCC;
	background-color: #EFF5FB;
}

#email-admin-header h4 {
	margin: 14px 0 0 0;
}

#email-admin-header div.columns {
	border-right: solid 1px #CCC;
	height: 50px;
	position: relative;
}

select.email_selector {
	-webkit-appearance: none;
	border-radius: 0;
	background-color: #fff;
	font-family: inherit;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.75);
	display: block;
	font-size: 0.875rem;
	margin: 0;
	padding: 0.5rem;
	height: 2.3125rem;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: box-shadow 0.45s,border-color 0.45s ease-in-out;

	/* Agora */
	line-height: normal;
}

#email-admin-header select {
	margin: 6px 0 0 0;
}

div.row.table_header {
    border: solid 1px #CCC;
    border-bottom: none;
    background-color: #EEE;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button.toggle_order {
    transform: rotate(180deg);
    display: inline;
    font-size: 14px;
    font-weight: bold;
    left: 5px;
    margin: 0;
    position: relative;
    padding: .3em;
    padding-bottom: 0;
    top: 2px;
    height: normal;
}

button.pointing_up {
    transform: none;
}

div.columns.table-rows-wrapper {
    border: solid 1px #ccc;
}

div.columns.table-rows-wrapper div.row {
    padding-top: 3px;
    padding-bottom: 2px;
    line-height: 30px;
    max-height: 34px;
    overflow: hidden;
}

div.columns.table-rows-wrapper div.row:nth-child(odd) {
    background-color: #EFF5FB;
}

div.columns.table-rows-wrapper button.tiny {
    margin: 0 3px;
    position: relative;
    padding-top: .5rem;
    padding-bottom: .5rem;
    top:-2px;
}

div.columns.table-rows-wrapper.email-variables div.row {
    max-height: none;
}

div.columns.table-rows-wrapper.email-variables input {
    margin: 3px 0;
}

#email-admin-editor {
	background-color: #EEE;
}

div.reveal-modal-bg {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
}

div.reveal-modal {
	display: none;
	visibility: hidden;
}

#close_email_editor {
	top: -1px;
	right: 10px;
}

#email-admin-editor input {
	display: block;
	position: relative;
	margin: 0 0 10px 0;
	width: 100%;
}

#email_content {
	height: 300px;
	width: 100%;
}

#email_save,
#email_confirm {
	margin: 0;
}

#email_add_new,
#email_variables,
#add_variable,
#email_help {
    margin: 3px 0 0 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

#email-variables-display {
    display: none;
}

#add_variable {
    margin-top: 0px;
    padding: .55em 0;
    position: relative;
    top: -1px;
}

#close_variable {
    background: #D00;
    float: right;
    font-weight: bold;
    margin: 0;
    padding: .3em .8em;
}

div.columns.table-rows-wrapper button.tiny.delete_variable {
    margin-top: 9px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

#email-confirmation {
	display: none;
}

p.preview {
	display: block;
	float: none;
	margin: 0 0 10px 15px;
	text-align: left;
}

span.preview {
	display: inline-block;
	float: none;
	margin: 0 0 0 10px;
	font-weight: bold;
}

#email_preview {
    background: #FFF;
	border: solid 1px #CCC;
	margin-top: 20px;
	margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    height: 500px;
}

p.email_editor_error,
p.email_var_name_error,
p.email_var_format_error {
	display: none;
	color: #D00;
	margin: 0 0 15px 0;
}

#confirm_edit {
	border: solid 1px #CCC;
	float: right;
}

#email-documentation {
    background: #fff;
    border: solid 1px #CCC;
    margin-top: 500px;
}

#email-documentation div.row {
    margin-bottom: 10px;
}

#email-documentation p {
    font-size: 16px;
}

#email-documentation textarea {
    height: 150px;
}

#profiles_code_wrap {
    display: none;
}

#profiles_code {
    height: 200px;
}

#emailBacktotop {
    float: right;
}

div.view_shortcodes {
    display: none;
}

#temp-account-interface p.input-descrp {
    font-size: 16px;
    float: right;
    position: relative;
    top: -10px;
}

.temp-email-button {
    float: left;
    position: relative;
    top: 2px;
}

.temp-report-preview {
    display: block;
    margin: 20px;
}

.temp-data-preview {
    display: none;
}

#preview_email {
    width: 100%;
    height: 500px;
}

#create-temp-order {
    float: right;
    margin-top: 20px;
}

#confirm_temp_account p {
    font-size: 18px;
}

#creds-wrapper {
    margin: 0 0 20px 0;
}

#creds-wrapper p {
    margin: 0 0 5px 0;
}

.user-creds-wrap {
    margin-top: 5px;
}

input[name="user-creds"] {
    position: relative;
    float: left;
    top: 3px;
    margin: 0 5px 0 0;
}

.cs-ts-h4 {
    margin-bottom: 10px;
}

#web-view-email {
    width: 100%;
}

#web-view-response {
    background: #FFF;
}

.data-table-row {
    border-top: solid 1px #CCC;
    padding-top: 3px;
    padding-bottom: 3px;
}

.data-table-row p {
    font-size: 12px;
    margin: 0;
    overflow: hidden;
    word-wrap: break-word;
}

.data-table-row:nth-child(even) {
    background-color: #F4F4FF;
}

#loading-icon-wrapper {
    background-color: rgba(50, 50, 50, 0.5);
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#web-view-loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

button.web-view-tag {
    font-size:12px;
    padding: 5px 8px 6px 8px;
    margin: 0 2px 5px 2px;
}