#af_profile_tags {
	overflow: hidden;
	z-index: 50;
}

#afaddtags {
	display: inline-block;
	margin: 5px;
}

#afclsmeta {
	display: none;
	float: right;
	position: relative;
	top: -5px;
}

div.aftagbkt {
	border: solid 1px #CCC;
	display: inline-block;
	float: left;
	margin: 5px;
	overflow: scroll;
	padding: 5px;
}

div.aftagbkt label {
	display: block;
	margin-top: 10px;
}

h4.afthl {
	margin: 0 0 10px 0;
}

button.secondary {
    box-shadow: 0 0 0 1px #CDD3D9;
    background: #DEE4EA;
}

button.secondary:hover {
    background: #EFF5FB;
}

.data-table-row > div.columns {
    padding-left: 8px;
    padding-right: 8px;
}

.web-views-tab {
    margin-right: 10px;
}

#account-details-response {
    display: none;
}