#premium_set_wrap input,
#premium_set_wrap button {
    margin: 0;
}

#add_premium_set {
    margin: 2px 0 0 0;
}

div.row.premium_set_row {
    border: solid 1px #CCC;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.row.premium_set_row:nth-child(even) {
    background: #EFF5FB;
}

div.row.premium_input_row {
    margin-top: 5px;
}

div.row.premium_input_row:first-child {
    margin-top: 0;
}

#premium_set_wrap button.secondary.delete_premium_set {
    margin: 5px 0 0 5px;
}

#premium_set_wrap button.add_premium {
    margin: 5px 0 0 5px;
}

#premium_set_wrap button.save_premium_set {
    float: right;
    font-size: 14px;
    margin: 7px 0 0 0;
    padding-top: 7px;
    padding-bottom: 8px;
}

#premium_set_wrap button.copy_premium_set {
    float: right;
    margin: 9px 15px 0 0;
    padding-top: 7px;
    padding-bottom: 8px;
}

#premium_set_wrap button.delete_premium {
    float: right;
    margin: 2px 0 0 0;
}

textarea.premium_description {
    margin: 5px 0 0 0;
}

#premium_set_wrap input.premium_report_link {
    background-color: #EEE;
    color: #444;
}

p.premium_error {
    color: red;
    display: none;
    margin: 3px 0 0 5px;
}